    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    background: rgba(40, 40, 103, 0.8);
}
.sliderValues {
    width: 2%;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    opacity: 0.6;
}
.slidersAndValues{
    display: flex;
    justify-content: center;
    width: 100%;
}
.namesOfParamters{
    display: flex;
    justify-content: center;
    margin-top: 7%;
    margin-bottom: 4%;
    opacity: 0.6;
    text-shadow: 0 0 2px rgba(255,255, 255, 0.8);
}
#leftPanelTitle{
    padding-top: 2%;
    display: flex;
    justify-content: center;
    color: grey;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.parameterPanel{
    height: 99vh;
    width: 24vw;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.allTheSliders {
    -webkit-appearance: none;
    appearance: none;
    width: 80%;
    height: 8px;
    border-radius: 1vh;
    background: rgba(128, 128, 128, 0.2);
    border: 1px solid rgba(128, 128, 128, 0.4);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
    outline: none;
    margin: 0.5% 0;
    opacity: 0.9;
    transition: background-color 0.6s, opacity 0.2s;
}
.allTheSliders::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 2vw;
    height: 3vh;
    background: rgb(82, 31, 103);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    border-radius: 50%;
    opacity: 1;
    transition: background 0.2s, opacity 0.2s;
}
.allTheSliders::-moz-range-thumb {
    width: 2vw;
    height: 3vh;
    background: rgb(82, 31, 103);
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.8);
    cursor: pointer;
    border-radius: 50%;
    opacity: 1;
    transition: background 0.2s, opacity 0.2s;
  }
.allTheSliders:hover::-webkit-slider-thumb{
    background: rgb(98, 37, 122);
    opacity: 1;
}
.allTheSliders:hover{
    background: rgba(128, 128, 128, 0.4);
}


.simulationPanel{
    height: 99vh;
    width: 49vw;
}


.allPanels{
    background: #251c35;
    border-radius: 8%;
    margin: 0.5vh 0.5vw;
    box-shadow: 0 0 1rem rgb(0, 0, 0);
}
.rightPanel{
    height: 99vh;
    width: 24vw;
    display: flex;
    align-items: end;
}
.graphSection{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.graphs{
    background: #251c35;
}
.allGraphs{
    height: 93%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    padding-bottom: 2%;
}
.graphLegend{
    height: 7%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}
.legendLabels{
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
    text-shadow: 0 0 2px rgba(255,255, 255, 0.8);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 0.7rem;
}
.legendRectangles{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    height: 50%;
    width: 9%;
}
#susceptibleRectangle{
    background-color: rgba(144, 238, 144, 0.2);
    border: 2px solid rgba(144, 238, 144, 0.8);
    margin-left: 2%;
}
#resistantRectangle{
    background-color: rgba(128, 128, 128, 0.2);
    border: 2px solid rgba(128, 128, 128, 0.8);
}
#infectedRectangle{
    background-color: rgba(255, 0, 0, 0.2);
    border: 2px solid rgba(255, 0, 0, 0.8);
}

#susceptibleLabel{
    height: 100%;
    width: 19%;
    margin-right: 3%;
    margin-left: 1%;
}
#resistantLabel{
    height: 100%;
    width: 15%;
    margin-right: 3%;
    margin-left: 1%;
}
#infectedLabel{
    height: 100%;
    width: 14%;
    margin-right: 3%;
    margin-left: 1%;
}

#pieChartGraph{
    height: 45%;
    width: 45%;
    margin-top: 3%;
    margin-left: 7%;
    
}
#barChartGraph{
    height: 40%;
    width: 39%;
    margin-top: 3%;
    margin-left: 3%;
}
#lineChartGraph{
    height: 33%;
    width: 40%;
    margin-top: 3%;
    margin-left: 10%;
    margin-bottom: 5%;
}
#polarAreaChartGraph{
    height: 37%;
    width: 45%;
    margin-top: 9%;
    margin-left: 2%;
}
